<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ingavedatum %><br>
    <%= f.date_select :ingavedatum %>
  </div>
  <div class="field">
    <%= f.label :einddatum %><br>
    <%= f.date_select :einddatum %>
  </div>
  <div class="field">
    <%= f.label :prioriteit %><br>
    <%= f.number_field :prioriteit %>
  </div>
  <div class="field">
    <%= f.label :beschrijving %><br>
    <%= f.text_area :beschrijving %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
